<!DOCTYPE html>
<html ng-app="AylienApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Genesis AYLIEN news Interface</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
     <script src="./js/app.js"></script>
     <script src="./js/sentimentsController.js"></script>
     <link rel="icon" type="image/ico" href="favicon.ico" sizes="32x32"/>

</head>

<body>
  <div ng-controller="SentimentsController as sentimentsCtrl">


    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">


<h1> This is a Prototype Interface for calling the AYLIEN news API </h1>
<br><br><br><br>
<!-- basic testing template -->
<div class="panel panel-default">
  <div class="panel-body">
    <h1> Basic Testing Interface </h1>
              <form id="newSite" ng-submit="sentimentsCtrl.addSentiment()">
                   <div>
                     <label for="company">Company ex. Microsoft</label>
                     <input type="text" ng-model="sentimentsCtrl.newSentiment.company" name="company">
                   </div>
                   <div class="text-center">
                     <input type="submit" value="Add Sentiment" class="btn btn-success">
                   </div>
                   <br><br>  <br><br>
             </form>

              <div class="jumbotron">
                <h1>Sentiment Results</h1>
                <p>Results Will Appear Here after successful API call to AYLIEN news API</p>



                <div ng-repeat="sentiment in sentimentsCtrl.all | orderBy:'+':true">
                    <div class="well">
                    <h3 class="text-left">Company: {{sentiment.company}}</h3>
                    <h4 class="text-left">Total Articles Analyzed: {{sentiment.count}}</h4>
                  <hr>
                    <h4 class="text-left">Total Postive Articles: {{(sentiment.positive_article_title).length}}</h4>
                    <h4 class="text-left">Postive Score: {{(sentiment.positive_score).toFixed(2)}} %</h4>
                    <h4 class="text-left">First Postive Article Title: {{sentiment.positive_article_title[0]}}</h4>
                    <h4 class="text-left">First Postive Article Source: {{sentiment.positive_article_source[0]}}</h4>
                  <hr>
                    <h4 class="text-left">Neutral Articles: {{(sentiment.neutral_article_title).length}}</h4>
                    <h4 class="text-left">Neutral Score: {{(sentiment.neutral_score).toFixed(2)}} %</h4>
                    <h4 class="text-left">First Neutral Article Title: {{sentiment.neutral_article_title[0]}}</h4>
                    <h4 class="text-left">First Neutral Article Source: {{sentiment.neutral_article_source[0]}}</h4>
                  <hr>
                    <h4 class="text-left">Negative Articles: {{(sentiment.negative_article_title).length}}</h4>
                    <h4 class="text-left">Negative Score: {{(sentiment.negative_score).toFixed(2)}} %</h4>
                    <h4 class="text-left">First Negative Article Title: {{sentiment.negative_article_title[0]}}</h4>
                    <h4 class="text-left">First Negative Article Source: {{sentiment.negative_article_source[0]}}</h4>

                  </div>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
        <!-- /.row -->

    </div>
  </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


</body>

</html>
