<!DOCTYPE html>
<html ng-app="AylienApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geneis AYLIEN API Interface</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/sentimentsController.js"></script>
    <link rel="icon" type="image/ico" href="favicon.ico" sizes="32x32"/>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://genesis.global/">Genesis</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://newsapi.aylien.com/">AYLIEN API</a>
                    </li>
                    <li>
                        <a href="https://lct-master.org/files/MullenSentimentCourseSlides.pdf">What is Sentiment Analysis</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="page-header">
        <div class="headline">
            <div class="container">
              <div class="jumbotron">
                <h1 class="text-center">AYLIEN news API Interface</h1>
                <h4 class="text-center">Input the Company you are researching and let AYLIEN do the rest</h4>
              </div>
            </div>
        </div>
    </header>
    <div ng-controller="SentimentsController as sentimentsCtrl">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
           <div ng-controller="SentimentsController as sentimentsCtrl">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1> Search For Public News Sentiments</h1>
                <br><br>
                <p> In the box below type a company name you are researching and then see the results below </p>
                <br><br>
                    <form id="newSite" ng-submit="sentimentsCtrl.addSentiment()">
                         <div>
                           <label for="company">Company ex. Microsoft</label>
                           <input type="text" ng-model="sentimentsCtrl.newSentiment.company" name="company" required>
                         </div>
                         <br><br>
                         <div class="text-center">
                           <input ng-disabled="company.$invalid" type="submit" value="Add Sentiment" class="btn btn-success">
                         </div>
                         <br><br>  <br><br>
                     </form>
                    </div>
                  </div>
                  <br>
                        <div class="jumbotron">
                            <h1>Sentiment Results</h1>
                            <p>Results Will Appear Here after successful API call to AYLIEN news API</p>
                              <div ng-repeat="sentiment in sentimentsCtrl.all | orderBy:'+':true">
                                <div class="well">
                                  <h2 class="text-left">Company: {{sentiment.company}}</h3>
                                  <h4 class="text-left">Total Articles Analyzed: {{sentiment.count}}</h4>
                                <hr>
                                <h3>Positive</h3>
                                  <h4 class="text-left">Total Positive Articles: {{(sentiment.positive_article_title).length}}</h4>
                                  <h4 class="text-left">Postive Score: {{(sentiment.positive_score).toFixed(2)}} %</h4>
                                  <h4 class="text-left">First Postive Article Title: {{sentiment.positive_article_title[0]}}</h4>
                                  <h4 class="text-left">First Postive Article Summary: {{sentiment.positive_article_summary[0].join(" ")}}</h4>
                                  <h4 class="text-left">First Postive Article Source: <a href="{{sentiment.positive_article_source[0]}}">{{sentiment.positive_article_source[0]}}</a></h4>
                                    <button class="btn btn-default"  ng-click="showme=true">See 5 More Articles</button>
                                      <div class="wrapper">
                                        <h2 ng-show="showme">
                                          <ul>
                                            <li>{{sentiment.positive_article_title[2]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.positive_article_summary[2].join(" ")}}</h4>
                                            <a href="{{sentiment.positive_article_source[2]}}">{{sentiment.positive_article_source[2]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.positive_article_title[3]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.positive_article_summary[3].join(" ")}}</h4>
                                            <a href="{{sentiment.positive_article_source[3]}}">{{sentiment.positive_article_source[3]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.positive_article_title[4]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.positive_article_summary[4].join(" ")}}</h4>
                                            <a href="{{sentiment.positive_article_source[4]}}">{{sentiment.positive_article_source[4]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.positive_article_title[5]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.positive_article_summary[5].join(" ")}}</h4>
                                            <a href="{{sentiment.positive_article_source[5]}}">{{sentiment.positive_article_source[5]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.positive_article_title[6]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.positive_article_summary[6].join(" ")}}</h4>
                                            <a href="{{sentiment.positive_article_source[6]}}">{{sentiment.positive_article_source[6]}}</a>
                                            <br><br><br>
                                            <button class="btn btn-default" ng-click="showme=false">Hide Articles</button>
                                          </ul>
                                        </h2>
                                      </div>
                                  <br>
                                <hr>
                                <h3>Neutral</h3>
                                  <h4 class="text-left">Total Neutral Articles: {{(sentiment.neutral_article_title).length}}</h4>
                                  <h4 class="text-left">Neutral Score: {{(sentiment.neutral_score).toFixed(2)}} %</h4>
                                  <h4 class="text-left">First Neutral Article Title: {{sentiment.neutral_article_title[0]}}</h4>
                                  <h4 class="text-left">First Neutral Article Summary: {{sentiment.neutral_article_summary[0].join(" ")}}</h4>
                                  <h4 class="text-left">First Neutral Article Source: <a href="{{sentiment.neutral_article_source[0]}}">{{sentiment.neutral_article_source[0]}}</a></h4>
                                    <button class="btn btn-default"  ng-click="showme1=true">See 5 More Articles</button>
                                      <div class="wrapper">
                                        <h2 ng-show="showme1">
                                          <ul>
                                            <li>{{sentiment.neutral_article_title[2]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.neutral_article_summary[2].join(" ")}}</h4>
                                            <a href="{{sentiment.neutral_article_source[2]}}">{{sentiment.neutral_article_source[2]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.neutral_article_title[3]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.neutral_article_summary[3].join(" ")}}</h4>
                                            <a href="{{sentiment.neutral_article_source[3]}}">{{sentiment.neutral_article_source[3]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.neutral_article_title[4]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.neutral_article_summary[4].join(" ")}}</h4>
                                            <a href="{{sentiment.neutral_article_source[4]}}">{{sentiment.neutral_article_source[4]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.neutral_article_title[5]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.neutral_article_summary[5].join(" ")}}</h4>
                                            <a href="{{sentiment.neutral_article_source[5]}}">{{sentiment.neutral_article_source[5]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.neutral_article_title[6]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.neutral_article_summary[6].join(" ")}}</h4>
                                            <a href="{{sentiment.neutral_article_source[6]}}">{{sentiment.neutral_article_source[6]}}</a>
                                            <br><br><br>
                                            <button class="btn btn-default" ng-click="showme1=false">Hide Articles</button>
                                          </ul>
                                        </h2>
                                      </div>
                                      <br>
                                  <hr>
                                <h3>Negative</h3>
                                  <h4 class="text-left">Total Negative Articles: {{(sentiment.negative_article_title).length}}</h4>
                                  <h4 class="text-left">Negative Score: {{(sentiment.negative_score).toFixed(2)}} %</h4>
                                  <h4 class="text-left">First Negative Article Title: {{sentiment.negative_article_title[0]}}</h4>
                                  <h4 class="text-left">First Negative Article Summary: {{sentiment.negative_article_summary[0].join(" ")}}</h4>
                                  <h4 class="text-left">First Negative Article Source: <a href="{{sentiment.negative_article_source[0]}}">{{sentiment.negative_article_source[0]}}</a></h4>
                                    <button class="btn btn-default"  ng-click="showme2=true">See 5 More Articles</button>
                                      <div class="wrapper">
                                        <h2 ng-show="showme2">
                                          <ul>
                                            <li>{{sentiment.negative_article_title[2]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.negative_article_summary[2].join(" ")}}</h4>
                                            <a href="{{sentiment.negative_article_source[2]}}">{{sentiment.negative_article_source[2]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.negative_article_title[3]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.negative_article_summary[3].join(" ")}}</h4>
                                            <a href="{{sentiment.negative_article_source[3]}}">{{sentiment.negative_article_source[3]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.negative_article_title[4]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.negative_article_summary[4].join(" ")}}</h4>
                                            <a href="{{sentiment.negative_article_source[4]}}">{{sentiment.negative_article_source[4]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.negative_article_title[5]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.negative_article_summary[5].join(" ")}}</h4>
                                            <a href="{{sentiment.negative_article_source[5]}}">{{sentiment.negative_article_source[5]}}</a>
                                            <br><br><br>
                                            <li>{{sentiment.negative_article_title[6]}}</li>
                                            <h4 class="text-left">Article Summary: {{sentiment.negative_article_summary[6].join(" ")}}</h4>
                                            <a href="{{sentiment.negative_article_source[6]}}">{{sentiment.negative_article_source[6]}}</a>
                                            <br><br><br>
                                            <button class="btn btn-default" ng-click="showme2=false">Hide Articles</button>

                                          </ul>
                                        </h2>
                                      </div>
                                    <br>
                                    <hr>
                                  <div class="text-center"> <button ng-click="sentimentsCtrl.deleteSentiment(sentiment)" class="btn btn-danger">Delete Record</button></div>
                                </div>
                              <br><br>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12 text-center">
                  <p>Copyright &copy; Genesis 2017</p>
              </div>
          </div>
      </footer>
  </div>
  </div>


    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
